<div id="dockingLayout">
  <!--autoHideGroup-->
  <div data-container="ControlPanel">
    List of controls
  </div>
  <div data-container="ResourcePanel">
    Resources
  </div>
  <!--documentGroup-->
  <div data-container="Document1Panel">
  </div>
  <div data-container="Document2Panel">
    Document 2 content
  </div>
  <!--bottom tabbedGroup-->
  <div data-container="ErrorListPanel">
    List of errors
  </div>
  <!--right tabbedGroup-->
  <div data-container="SolutionExplorerPanel">
    <div id="solutionExplorerPanel">
    </div>
  </div>
  <div data-container="PropertiesPanel">
    List of properties
  </div>
  <!--floatGroup-->
  <div data-container="OutputPanel">
    Output
  </div>
</div>
