<div id="dockingLayout">
  <!--left tabbedGroup-->
  <div data-container="ControlPanel">
    List of controls
  </div>
  <div data-container="ResourcePanel">
    Resources
  </div>
  <!--bottom left tabbedGroup-->
  <!--documentGroup-->
  <div data-container="Document1Panel">
    Document 1 content
  </div>
  <div data-container="Document2Panel">
    Document 2 content
  </div>
  <!--bottom tabbedGroup-->
  <!--right tabbedGroup-->
  <div data-container="PropertiesPanel">
    <div id="propertiesPanel">
    </div>
  </div>
  <!--floatGroup-->
  <div data-container="ToolsPanel">
    Tools
  </div>
</div>
