<div #dockingLayout id="dockingLayout">
  <!--autoHideGroup-->
  <div data-container="ToolboxPanel">
    List of tools</div>
  <div data-container="HelpPanel">
    Help topics</div>
  <!--documentGroup-->
  <div data-container="Document1Panel">
    <ng-container #solutionExplorerPanel></ng-container>
  </div>
  <div data-container="Document2Panel">
    Document 2 content</div>
  <!--bottom tabbedGroup-->
  <div data-container="ErrorListPanel">
    List of errors</div>
  <!--right tabbedGroup-->
  <div data-container="SolutionExplorerPanel">
  </div>
  <div data-container="PropertiesPanel">
    List of properties</div>
  <!--floatGroup-->
  <div data-container="OutputPanel">
    Output</div>
</div>